#_schedule_from {
    width: 14%;
}

#_schedule_to {
    width: 14%;
}
#_yith_wcdppm_user_role-container .select_wrapper {
    background: transparent;
    border: none;
}
#_yith_wcdppm_user_role-container .select_wrapper span {
    display: none;
}